*{
   margin: 0;
   padding: 0;
}
body{
   /* background-color: rgb(65, 63, 63); */
   color: black;
   height: 100vh;
}
main{
   min-height: 100vh;
   height: auto;
   background-image: linear-gradient(0deg,#4ddff3, #fff, rgb(65, 63, 63));
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;

}

header{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.title{
   margin-top: 2rem;
   text-transform: uppercase;
   font-size: 50px;
}
.container{
   width: 70%;
   color: black;
   padding-bottom: 15%;
   height: auto;
   
}

.search{
   margin-top: 7rem;
   display: flex;
   
}
.container input, .btn{
   border: none;
   outline: none;
   height: 7vh;
   border-radius: 2rem;
   font-size: 20px;
}

.container input{
   
   padding-left: 24px;
   width: 80%;
   opacity: 0.8;
   transition: ease-in-out 0.2s;
}

.container input:hover{
   opacity: 1;
}

.btn{
   margin-left: 25px;
   width: auto;
   transition: 0.5s ease-in-out;
   cursor: pointer;
   padding: 10px 20px;
}

.btn:hover{
   background-color: gray;
}

.today-temp{
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-top: 5rem;
   align-items: center;
   text-align: justify;
   flex-wrap: wrap-reverse;
   gap: 3rem;
   
}

.today{
   display: flex;
   width: auto;
   flex-wrap: wrap;
   row-gap: 0.5rem;
   
}
.today img{
   margin-right: 1.5rem;
   margin-top: 0.5rem;
   width: 6rem;
   height: 6rem;
}
.temprature{
   font-size: 54px;
}

.celcius{
   margin-top: 0.75rem;
   margin-left: 0.5rem;
   margin-right: 1.5rem;
   font-size: 20px;
}
.wind{
   margin-top: 1rem;
   opacity: 0.8;

}

.date-time{
   margin-top: 1.6rem;
   font-size: 18px;
   opacity: 0.8;
}


.days{
   margin-top: 8rem;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   column-gap: 1rem;
   row-gap: 3rem;
   
}
.day1{
   display: flex;
   flex-direction: column;
   width: 5rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   transition: 0.3s ease-in-out;
   gap: 1.5rem;
}

.mmtemp{
   display: flex;
   justify-content: space-evenly;
}

.min{
   opacity: 0.7;
}

.day1:hover{
   background-color: rgb(255, 255, 255, 0.7);
   border-radius: 1rem;
}

.days img{
   width: 4rem;
   font-size: 24px;
   height: 5rem;
}

img{
   border-radius: 50%;
}


@media screen and (max-width: 360px) {

  .day1{
   width: 3.5rem;
  }
   
}